game-stats {
    md-icon.md-avatar-icon {
        svg {
            fill: $white;
        }

        &.easy {
            background-color: $avatarEasy;
        }

        &.medium {
            background-color: $avatarMedium;
        }

        &.expert {
            background-color: $avatarExpert;
        }
    }
}