<md-card md-theme="default" data-ng-if="$ctrl.games.length">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Stats</span>
            <span class="md-subhead">
                {{ $ctrl.games.length || 0 }} total,
                        {{ $ctrl.allActive.length || 0 }} in progress,
                        {{ $ctrl.allFinished.length || 0 }} won,
                        {{ $ctrl.allOver.length || 0 }} lost.
                        </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column">
        <md-list flex class="md-dense">
            <md-list-item class="md-2-line" data-ng-if="$ctrl.easy.length">
                <md-icon md-svg-icon="extension.svg" class="md-avatar-icon"></md-icon>
                <div class="md-list-item-text" layout="column">
                    <h3>Easy</h3>
                    <p>
                        <span data-ng-if="$ctrl.easyActive.length">{{ $ctrl.easyActive.length || 0 }} in progress, </span>
                        <span>{{ $ctrl.easyFinished.length || 0 }} won, </span>
                        <span>{{ $ctrl.easyOver.length || 0 }} lost.<br /></span>
                        <span data-ng-if="$ctrl.easyFinished.length">Best: {{ $ctrl.easyFastest.stats.time_elapsed.format('mm:ss') }}<br/></span>
                        <span data-ng-if="$ctrl.easyFinished.length > 1">Worst: {{ $ctrl.easySlowest.stats.time_elapsed.format('mm:ss') }}<br/></span>
                    </p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" data-ng-if="$ctrl.medium.length">
                <md-icon md-svg-icon="extension.svg" class="md-avatar-icon"></md-icon>
                <div class="md-list-item-text" layout="column">
                    <h3>Medium</h3>
                    <p>
                        <span data-ng-if="$ctrl.mediumActive.length">{{ $ctrl.mediumActive.length || 0 }} in progress, </span>
                        <span>{{ $ctrl.mediumFinished.length || 0 }} won, </span>
                        <span>{{ $ctrl.mediumOver.length || 0 }} lost.<br /></span>
                        <span data-ng-if="$ctrl.mediumFinished.length">Best: {{ $ctrl.mediumFastest.stats.time_elapsed.format('mm:ss') }}<br/></span>
                        <span data-ng-if="$ctrl.mediumFinished.length > 1">Worst: {{ $ctrl.mediumSlowest.stats.time_elapsed.format('mm:ss') }}<br/></span>
                    </p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" data-ng-if="$ctrl.expert.length">
                <md-icon md-svg-icon="extension.svg" class="md-avatar-icon"></md-icon>
                <div class="md-list-item-text" layout="column">
                    <h3>Expert</h3>
                    <p>
                        <span data-ng-if="$ctrl.expertActive.length">{{ $ctrl.expertActive.length || 0 }} in progress, </span>
                        <span>{{ $ctrl.expertFinished.length || 0 }} won, </span>
                        <span>{{ $ctrl.expertOver.length || 0 }} lost.<br /></span>
                        <span data-ng-if="$ctrl.expertFinished.length">Best: {{ $ctrl.expertFastest.stats.time_elapsed.format('mm:ss') }}<br/></span>
                        <span data-ng-if="$ctrl.expertFinished.length > 1">Worst: {{ $ctrl.expertSlowest.stats.time_elapsed.format('mm:ss') }}<br/></span>
                    </p>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
