
.board {
    height: auto;
    margin: 20px auto;
    padding: 5px;
    display: Flex;
    flex-flow: row;
    flex-wrap: wrap;
    background-color: #FFF;
    border-radius: 3px;
}

.easy {
    width: 414px;
}

.medium {
    width: 736px;
}

.expert {
    width: 1380px;
}
