@import '../../shared/colors';

.board {
    height: auto;
    margin: 0 auto;
    padding: 5px;
    display: Flex;
    flex-flow: row;
    flex-wrap: wrap;
    background-color: $board-bg;
    border-radius: 3px;
}

.easy {
    width: 369px;
}

.medium {
    width: 656px;
}

.expert {
    width: 1230px;
}
