<!-- game selector -->
<md-card md-theme="default">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">New Game</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column" layout-align="space-between">
        <new-game-button difficulty="EASY" show-size="true"></new-game-button>
        <new-game-button difficulty="MEDIUM" show-size="true"></new-game-button>
        <new-game-button difficulty="EXPERT" show-size="true"></new-game-button>
    </md-card-content>
</md-card>