<!-- game selector -->
<div class="new-game panel">
    <div class="header">
        <h3><i class="fa fa-plus"></i> New Game</h3>
    </div>
    <ul class="new-game-options">
        <li>
            <new-game-button difficulty="EASY" show-size="true" class="btn-block"></new-game-button>
        </li>
        <li>
            <new-game-button difficulty="MEDIUM" show-size="true" class="btn-block"></new-game-button>
        </li>
        <li>
            <new-game-button difficulty="EXPERT" show-size="true" class="btn-block"></new-game-button>
        </li>
    </ul>
</div>