tile {

    button.md-button {
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        max-height: 40px;

        margin-left: 3px;
        margin-right: 3px;
        margin-top: 3px;
        margin-bottom: 3px;

        md-icon {
            svg {
                fill: $white;
            }
        }

        span.tile-count {
            font-size: 1.3em;
            font-weight: 700;

            &._1 {
                color: $tile1;
            }
            &._2 {
                color: $tile2;
            }
            &._3 {
                color: $tile3;
            }
            &._4 {
                color: $tile4;
            }
            &._5 {
                color: $tile5;
            }
            &._6 {
                color: $tile6;
            }
            &._7 {
                color: $tile7;
            }
            &._8 {
                color: $tile8;
            }
        }

    }
}
