.btn-debug {
    padding: 0;
    line-height: 10px;
}

.tile-coordinates {
    font-size: 8px;
    display: inline-block;
}

.tile-count {
    display: block;
}

.tile-icon.fa {
    position: relative;
    top: 2px;
    left: -2px;
    font-size: 1.3em;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}