<button *ngIf="state !== 'REVEALED'"
  class="tile-button"
  (click)="click($event)"
  (contextmenu)="rightClick($event)">
      <span *ngIf="state === 'ACTIVE'">&nbsp;</span>
      <i class="material-icons" *ngIf="state === 'FLAG'">flag</i>
      <i class="material-icons" *ngIf="state === 'UNKNOWN'">help_outline</i>
      <i class="material-icons" *ngIf="state === 'DETONATED'">star</i>
    </button>

<button *ngIf="state === 'REVEALED'"
  class="tile-button">
  <span *ngIf="count > 0"
      class="tile-count"
      [ngClass]="'_' + count">{{ count }}</span>
  <span *ngIf="count === 0">&nbsp;</span>
</button>