<md-button
    md-no-ink
    aria-label="What's in here?"
    data-ng-class="$ctrl.css"
    data-ng-disabled="$ctrl.tile.revealed && $ctrl.tile.count === 0"
    data-ng-dblclick="$ctrl.onDblClick($event)"
    data-ng-mousedown="$ctrl.onMouseDown($event)"
    data-ng-mouseup="$ctrl.onMouseUp($event)">

    <md-icon data-ng-if="$ctrl.tile.flagged" class="flag" md-svg-icon="flag.svg"></md-icon>
    <md-icon data-ng-if="$ctrl.tile.question" class="question" md-svg-icon="help.svg"></md-icon>
    <md-icon data-ng-if="$ctrl.tile.detonated" class="bomb" md-svg-icon="bomb.svg"></md-icon>

    <span class="tile-count"
        data-ng-if="$ctrl.tile.revealed && $ctrl.tile.count > 0"
        data-ng-bind="$ctrl.tile.count"
        data-ng-class="'_' + $ctrl.tile.count"></span>
</md-button>