app {
    display: block;
    height: 100%;
}
.app {
    position: absolute;
    width: 100%;
    top: 80px;
    bottom: 0;
    display: block;

    .full-height {
        display: block;
        height: 100%;
    }
}
