app {
    display: block;
    height: 100%;
}
.app {
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 0;
    display: block;

    .full-height {
        padding-top: 20px;
        display: block;
        height: 100%;
        overflow-x: auto;
    }
}
