
  <!-- The main content toolbar -->
  <md-toolbar color="primary">
    <button md-icon-button #menubutton (click)="home()">
      <md-icon class="md-24">home</md-icon>
    </button>
    <span class="fill">[route title]</span>
    <button *ngIf="!photo" md-icon-button #loginbutton (click)="login()">
      <md-icon class="md-24">account_box</md-icon>
    </button>
    <img *ngIf="photo" class="avatar" [src]="photo" [md-menu-trigger-for]="menu" />
  </md-toolbar>

  <!-- this menu starts as hidden by default -->
  <md-menu #menu="mdMenu" x-position="before">
      <button md-menu-item (click)="me()"> My Profile </button>
      <button md-menu-item (click)="signout()"> Sign Out </button>
  </md-menu>

  <!-- the new game fab at the bottom right -->
  <new-game-fab></new-game-fab>

  <!-- The content of the app -->
  <router-outlet></router-outlet>

