md-card {
    margin: 20px;
}

md-sidenav {
    width: 250px;
}

md-sidenav-layout {
    background-color: #ECEEF1;
}

.fill {
    flex: 1 1 auto;
}

.avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}