<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu"
      data-ng-click="$ctrl.menu()">
      <md-icon md-svg-icon="menu.svg"></md-icon>
    </md-button>
    <span flex></span>
    <span layout="row" layout-align="center center">
      <game-timer game="$ctrl.game" data-ng-if="$ctrl.showGameTimer" layout-margin layout="row" layout-align="center center"></game-timer>
      <flag-count game="$ctrl.game" data-ng-if="$ctrl.showGameStats" layout-margin layout="row" layout-align="space-around center"></flag-count>
    </span>
    <span flex></span>
  </div>
</md-toolbar>
