$list-separator: '•';
my-games {
    display: flex;
    flex: 1;
    flex-flow: column;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    .my-games {
        ul.game-list {
            display: flex;
            flex: 1;
            flex-flow: column;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            list-style: none;
            li.game-list-item {
                border-top: 1px solid #ECEEF1;
                background-color: #FDFCF6;
                padding: 15px;
                padding-left: 35px;
                color: #828B98;
                &.started {
                    background-color: #F6F7FD;
                    padding: 35px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                &.gameover {
                    background-color: #FDF4F4;
                }
                &.finished{
                    background-color: #F1F7EE;
                }
                &:last-child {
                    border-bottom: 1px solid #ECEEF1;
                }
                i.fa.fa-clock-o {
                    font-size: 2em;
                    position: absolute;
                    left: 20px;
                    margin-top: -2px;
                    background-color: #337AB7;
                    border-radius: 50%;
                    padding: 10px;
                    padding-top: 6px;
                    padding-left: 8px;
                    width: 40px;
                    height: 40px;
                    color: #FFF;
                }
                i.fa {
                    color: #828B98;
                }
                a {
                    display: inline-block;
                    text-decoration: none;
                    color: #373A3E;
                    font-weight: 700;
                    &:hover {
                        text-decoration: none;
                    }
                }
                ul {
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 0;
                    list-style: none;
                    li {
                        display: inline-block;
                        &:after {
                            display: inline-block;
                            content: $list-separator;
                            width: 20px;
                            text-align: center;
                        }
                        &:last-child:after {
                            content: none;
                            width: 0;
                        }
                    }
                }
            }
        }
        .pager {
            a {
                text-decoration: none;
                font-weight: 600;
                color: #2D72D9;
            }
        }
    }
}