<md-card md-theme="default">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">My Games</span>
            <span class="md-subhead" data-ng-if="!$ctrl.activeCount">You don't have any games in progress, use the new game buttons to play.</span>
            <span class="md-subhead" data-ng-if="$ctrl.activeCount">Total Games: {{ $ctrl.activeCount }}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content data-ng-if="$ctrl.games.length">
        <md-list class="md-dense">
            <md-subheader class="md-no-sticky">Active Games</md-subheader>
            <md-list-item class="md-2-line" data-ng-if="game.isActive" data-ng-click="$ctrl.goTo(game)" data-ng-repeat="game in $ctrl.games | orderBy:'-created' | startFrom:$ctrl.pagerStart | limitTo:$ctrl.pagerSize">
                <md-icon md-svg-icon="extension.svg" class="md-avatar-icon"></md-icon>
                <div class="md-list-item-text" layout="column">
                    <h3>{{ game.difficulty }} ({{ game.columns }}x{{ game.rows }})</h3>
                    <p><span data-ng-show="game.isReady">Not started yet</span><span data-ng-if="game.isPaused">started {{ game.started.fromNow() }} &#8226; {{ game.board.flags }}/{{ game.board.mineCount }} flags &#8226; {{ game.board.percentage }}% completed</span></p>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-actions data-ng-if="$ctrl.activeCount" layout="row" layout-align="space-between center">
        <span><md-button class="md-raised md-primary" data-ng-show="$ctrl.showPrevious" data-ng-click="$ctrl.previous()">Previous</md-button></span>
        <span>Page: {{ $ctrl.page }}</span>
        <span><md-button class="md-raised md-primary" data-ng-show="$ctrl.showNext" data-ng-click="$ctrl.next()">Next</md-button></span>
    </md-card-actions>
</md-card>