$list-separator: '•';

game-list-game {
    display: block;
    color: #828B98;

    i.fa.fa-clock-o {
        font-size: 2em;
        position: absolute;
        left: 20px;
        margin-top: -2px;
        background-color: #337AB7;
        border-radius: 50%;
        padding: 10px;
        padding-top: 6px;
        padding-left: 8px;
        width: 40px;
        height: 40px;
        color: #FFF;
    }

    i.fa {
        color: #828B98;
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: #373A3E;
        font-weight: 700;

        &:hover {
            text-decoration: none;
        }
    }

    ul {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        list-style: none;

        li {
            display: inline-block;

            &:after {
                content: $list-separator;
                width: 20px;
                text-align: center;
                display: inline-block;
            }

            &:last-child:after {
                content: none;
                width: 0;
            }
        }
    }
}