<div data-ng-if="$ctrl.game.isReady">
    <a data-ui-sref="root.game({ id: $ctrl.game.id })">
        {{ $ctrl.game.difficulty }}
    </a>
    <span>({{ $ctrl.game.columns }}x{{ $ctrl.game.rows }})</span>
</div>
<div data-ng-if="$ctrl.game.isStarted">
    <i class="fa fa-clock-o"></i>
    <a data-ui-sref="root.game({ id: $ctrl.game.id })">
        {{ $ctrl.game.difficulty }}
    </a>
    <span>({{ $ctrl.game.columns }}x{{ $ctrl.game.rows }})</span>
    <div>
        <ul>
            <li>started {{ $ctrl.game.started.fromNow() }}</li>
            <li>{{ $ctrl.game.board.flags }}/{{ $ctrl.game.board.mineCount }} flags</li>
            <li>{{ $ctrl.game.board.percentage }}% completed</li>
        </ul>
    </div>
</div>
<div data-ng-if="$ctrl.game.isPaused">
</div>
