explosion {
    display: inline-block;
    position: absolute;
    margin-top: -11px;
    margin-left: -30px;

    .explosion {
        width: 60px;
        height: 60px;
        background-image: url('./public/explosion.png');
        background-repeat: no-repeat;
        background-size: 60px 60px;
        position: absolute;
    }
}
