board {
    display: flex;

    margin-top: 0;
    margin-bottom: 0;

    background-color: #FFFFFF;
    border-radius: 3px;

    padding: 10px;

    .tile-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: flex-start;
    }
}
board.easy {
    width: 390px;
}
board.medium {
    width: 680px;
}
board.hard {
    width: 1320px
}


