board {
    div {
        background-color: $white;
        padding: 5px;
        border-radius: 3px;
    }
}
board.easy {
    div {
        min-width: 424px;
        max-width: 424px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}
board.medium {
    div {
        min-width: 746px;
        max-width: 746px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}
board.expert {
    div {
        min-width: 1390px;
        max-width: 1390px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}


