
$white: #FFF;
$app-root-background: #000;

$avatarEasy: #2B880F;
$avatarMedium: #1588C1;
$avatarExpert: #BF0D0D;

$menu-active: #FFFFFF;
$menu-inactive: #949494;

$new-game-button-color: #F4F4F4;
$new-game-button-color-hover: #FFFFFF;
$new-game-button-bg: #141414;
$new-game-button-bg-hover: #262626;
