
$white: #FFF;
$app-root-background: #000;

$easy: #2B880F;
$medium: #1588C1;
$expert: #BF0D0D;
$custom: #FF9400;

$menu-active: #FFFFFF;
$menu-inactive: #949494;

$new-game-button-color: #F4F4F4;
$new-game-button-color-hover: #FFFFFF;
$new-game-button-bg: #141414;
$new-game-button-bg-hover: #1b1b1b;

$board-bg: #141414;
