home {
    color: #121821;
    h3 {
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .my-games {
        margin-bottom: 20px;

        .my-games-container {
            background-color: #FFFFFF;
            border-radius: 3px;

            .header {
                padding: 25px;
                h2 {
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-left: 0;
                    margin-right: 0;
                    font-size: 17px;
                    font-weight: 600;
                    line-height: 27px;
                }
            }
            ul.game-list {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
                padding-left: 0;
                list-style: none;

                li.game-list-item {
                    border-top: 1px solid #ECEEF1;
                    background-color: #FDFCF6;
                    padding: 15px;
                    a {
                        display: block;
                        text-decoration: none;
                        color: #828B98;
                        font-weight: 600;
                        line-height: 21px;
                    }

                    &.started {
                        background-color: #F6F7FD;
                    }
                    &.gameover {
                        background-color: #FDF6F6;
                    }
                    &.finished {
                        background-color: #F7FDF6;
                    }

                }
            }
        }
    }
    .game-selector {
        .game-selector-container {
            background-color: #FFFFFF;
            border-radius: 3px;

            padding: 10px;
            .header {
                padding: 5px 0 10px 5px;
                h3 {
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-left: 0;
                    margin-right: 0;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 25px;
                }
            }
            ul.new-game-options {
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
                padding-left: 0;
                list-style: none;
            }
        }

    }
}