        .panel {
            background-color: #FFFFFF;
            border-radius: 3px;

           .header {
                display: flex;
                flex: 1;
                justify-content: flex-start;
                align-items: flex-start;
                flex-flow: column;

                padding: 25px;

                h2 {
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-left: 0;
                    margin-right: 0;
                    font-size: 17px;
                    font-weight: 600;
                    line-height: 27px;
                }
            }
            .footer {
                display: flex;
                flex: 1;
                justify-content: space-between;
                align-items: flex-start;
                flex-flow: row;
                padding: 15px 20px;
            }
        }

boomjs-home {
    display: flex;
    flex: 1;
    flex-flow: row;
    align-items: flex-start;

    color: #121821;
    h3 {
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .left-column {
        display: flex;
        flex: 70;
        flex-flow: column;
        justify-content: flex-start;
        align-items: stretch;
    }
    .right-column {
        display: flex;
        flex: 30;
        flex-flow: column;
        justify-content: flex-start;
        align-items: stretch;
    }
}