<div class="row">
    <div class="my-games col-xs-12 col-sm-8 col-md-9">
        <div class="my-games-container">
            <!-- games active -->
            <div class="header">
                <h2>My Games</h2>
            </div>
            <div class="header" data-ng-if="$ctrl.count === 0">
                <span>You don't have any games yet, use the buttons on the right to play.</span>
            </div>
            <ul class="game-list" data-ng-show="$ctrl.games">
                <li class="game-list-item"
                    data-ng-repeat="game in $ctrl.games"
                    data-ng-class="game.state.toLowerCase()">
                    <a data-ui-sref="root.game({ id: game.id })">
                        {{ game.difficulty }} {{ game.columns }}x{{ game.rows }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="game-selector col-xs-12 col-sm-4 col-md-3">
        <!-- game selector -->
        <div class="game-selector-container">
            <div class="header">
                <h3><i class="fa fa-plus"></i>  New Game</h3>
            </div>
            <ul class="new-game-options">
                <li>
                    <button type="button" class="btn btn-block btn-success" data-ng-click="$ctrl.newGame('EASY')">New Easy (9x9)</button>
                    <button type="button" class="btn btn-block btn-warning" data-ng-click="$ctrl.newGame('MEDIUM')">New Medium (16x16)</button>
                    <button type="button" class="btn btn-block btn-danger" data-ng-click="$ctrl.newGame('HARD')">New Expert (30x16)</button>
                </li>
            </ul>
        </div>
    </div>
</div>