success {
    .success {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        color: $white;
        z-index: 3;

        .actions {
            text-align: center;
            h3 {
                font-size: 2em;
            }
            a {
                text-decoration: none;
                font-size: 1.2em;
                text-align: center;
                color: $white;
                margin-top: 10px;
            }
        }

        &.visible {
            display: flex;
        }
    }
}