success {
    .success {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.54);
        overflow: hidden;
        color: #FFFFFF;
        padding: 40px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: auto;
        margin-left: auto;
        z-index: 3;

        justify-content: space-around;
        align-items: center;
        flex: 1;
        flex-flow:column;

        .actions {
            text-align: center;
            h3 {
                font-size: 2em;
            }
            a {
                text-decoration: none;
                margin-left: 10px;
            }
        }

        &.visible {
            display: flex;
        }



    }
}