defeat {
    .defeat {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        color: #FFFFFF;
        z-index: 3;

        justify-content: space-around;
        align-items: center;
        flex: 1;
        flex-flow:column;

        .actions {
            text-align: center;
            h3 {
                font-size: 1em;
                text-shadow: 0 0 7px rgba(230, 13, 13, 0.8);
                color: #BD3B3B;
                line-height: 120px;
                transition: font-size 0.25s ease-in-out;
                -webkit-margin-before: 10px;
                -webkit-margin-after: 10px;
            }
            a {
                text-decoration: none;
                margin-left: 10px;
            }
        }

        &.visible {
            display: flex;

            h3 {
                font-size: 3em;
                transition: font-size 0.25s ease-in-out;
            }
        }



    }
}