game-state {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;

    ul.stats {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        list-style: none;
        li {
            display: inline-block;
            line-height: 60px;

            i.fa {
                position: relative;
                top: 3px;
                padding-right: 5px;
            }

            span {
                padding-right: 20px;
                font-weight: 700;
                font-size: 1.2em;
            }
        }
    }

    .game-state-button {
        margin-right: 10px;
    }
}