<ul class="stats" data-ng-show="$ctrl.game !== undefined">
    <li><i class="fa fa-2x fa-clock-o"></i></li>
    <li><span data-ng-bind="$ctrl.value" data-ng-cloak></span></li>
    <li data-ng-hide="$ctrl.game.isOver || $ctrl.game.isFinished"><i class="fa fa-2x fa-flag"></i></li>
    <li data-ng-hide="$ctrl.game.isOver || $ctrl.game.isFinished"><span data-ng-bind="$ctrl.game.board.left" data-ng-cloak></span></li>
</ul>

<button type="button" class="game-state-button btn"
    data-ng-class="{'btn-success': $ctrl.game.isEasy, 'btn-warning': $ctrl.game.isMedium, 'btn-danger': $ctrl.game.isExpert}"
    data-ng-show="$ctrl.game.isFinished || $ctrl.game.isOver"
    data-ng-click="$ctrl.newGame()">New {{ $ctrl.game.displayDifficulty }}</button>

<button type="button" class="game-state-button btn btn-warning"
    data-ng-show="$ctrl.game.isFinished || $ctrl.game.isOver"
    data-ng-click="$ctrl.home()">Home</button>