$white: #FFF;

$sidebaricons: #A7A7A7;

$tile1: #26BCDA;
$tile2: #73912E;
$tile3: #F02A74;
$tile4: #2B7EC8;
$tile5: #CA2121;
$tile6: #FFDC00;
$tile7: #005403;
$tile8: #763F05;

$avatarEasy: #2B880F;
$avatarMedium: #1588C1;
$avatarExpert: #BF0D0D;
