<div class="games">
  <ul class="filters">
    <li class="active"><a><i class="material-icons">games</i></a></li>
    <li><a><i class="material-icons">filter_list</i></a></li>
  </ul>

  <div class="games-list-container">
    <div class="games-header">All Games</div>
    <div class="games-list">
      <div class="game-container" *ngFor="let game of games | async" (click)="go(game)">
        <div class="game"
          [ngClass]="css(game)">
          <span class="field difficulty">{{ game.rows }} x {{ game.columns }}</span>
          <span class="field info">{{ game.count }} Bombs</span>
          <span class="field created">Created {{ ago(game.created) }}</span>
          <span class="field started" *ngIf="!!game.started">Started {{ ago(game.started) }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="new-game">
    <div class="new-game-button easy" (click)="easy()">
      <span>
        New Easy Game
      </span>
      <span class="desc">
        9x9 - 10 Bombs
      </span>
    </div>
    <div class="new-game-button medium" (click)="medium()">
      <span>
        New Medium Game
      </span>
      <span class="desc">
        16x15 - 40 Bombs
      </span>
    </div>
    <div class="new-game-button expert" (click)="expert()">
      <span>
        New Expert Game
      </span>
      <span class="desc">
        30x15 - 99 Bombs
      </span>
    </div>
    <div class="new-game-button custom" (click)="custom()">
      <span>
        New Custom Game
      </span>
      <span class="desc">
        (comming soon)
      </span>
    </div>
  </div>
</div>
